blinker
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
click
cloudinary
colorama
cryptography
cssselect2
defusedxml
Flask
Flask-Login
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
opencc-python-reimplemented
pillow
pycparser
python-dotenv
qrcode
requests
six
tinycss2
urllib3
waitress
webencodings
Werkzeug
WTForms
